# Stock Market Analysis 

<img src="https://img.freepik.com/free-vector/gradient-stock-market-concept_23-2149166910.jpg" width = 800px>

# Introduction

Success in any financial market requires one to identify solid investments. When a stock or derivative is undervalued, it makes sense to buy. If it's overvalued, perhaps it's time to sell. While these finance decisions were historically made manually by professionals, technology has ushered in new opportunities for retail investors. Data scientists, specifically, may be interested to explore quantitative trading, where decisions are executed programmatically based on predictions from analysis and trained models.

Stocks can be a valuable part of your investment portfolio. Owning stocks in different companies can help you build your savings, protect your money from inflation and taxes, and maximize income from your investments. It's important to know that there are risks when investing in the stock market.

Historically, long-term equity returns have been better than returns from cash or fixed-income investments such as bonds. However, stock prices tend to rise and fall over time. Investors may want to consider a long-term perspective for their equity portfolio because these stock-market fluctuations do tend to smooth out over longer periods of time.

Taxes and inflation can impact your wealth. Equity investments can give investors better tax treatment over the long term, which can help slow or prevent the negative effects of both taxes and inflation.
Some companies pay shareholders dividends or special distributions. These payments can provide you with regular investment income and enhance your return.

### S&P 500 - Microsoft

As one of the most diversified companies, Microsoft (MSFT -0.65%) has strong positions in operating systems, video games, cloud computing, productivity software, and even social media with LinkedIn. This year, the company will also expand its digital advertising business through a partnership with Netflix. 

Microsoft's varied revenue streams proved their strength in 2022, with segments less affected by economic challenges able to maintain earnings growth despite declines in specific markets. The company's stock is down 22% year over year. However, its growth of 157% over the last five years proves it is a reliable long-term investment.

In mid-January, news broke that Microsoft is considering investing 10USD billion in OpenAI, an artificial intelligence (AI) company best known for its AI chatbot ChatGPT. The deal would expand Microsoft's stake in the company after it initially invested 1USD billion in 2019. Microsoft has a share in the company and now ChatGPT has a paid for service to access the Chatbot. This will increase it's revenue. 

### S&P 500 - Amazon

Brand Finance recognized Amazon as the most valuable brand in the world in 2023. That distinction highlights the tremendous popularity its marketplace enjoys among consumers. Indeed, Amazon draws more visitors each month than any other digital shopping destination, and it accounted for 38% of online retail sales in North America and Western Europe last year. Its Prime membership program creates even more value for consumers, and its massive logistics network adds value for merchants, accelerating the network effects inherent to its business model.

Looking ahead, Ameco Research estimates that global e-commerce sales will grow at 13.6% annually to reach 15USD trillion by 2030. Amazon is exceptionally well positioned to benefit from that trend.

Amazon Web Services (AWS) was the first hyperscale public cloud, and it still dominates the market for cloud infrastructure and platform services (CIPS). AWS accounted for 32% of CIPS spending in the fourth quarter last year, putting it nine percentage points ahead of the runner-up Microsoft Azure.

### Cryptocurrency - Bitcoin

The blockchain technology underlying bitcoin and other cryptocurrencies has been hailed as a potential gamechanger for a large number of industries, from shipping and supply chains to banking and healthcare. By removing intermediaries and trusted actors from computer networks, distributed ledgers can facilitate new types of economic activity that were not possible before.

This potential makes for an attractive investment to people who believe in the future of digital currencies. For people who believe in that promise, investing in cryptocurrency represents a way to earn high returns while supporting the future of technology.

Another common reason to invest in cryptocurrency is the desire for a reliable, long-term store of value. Unlike fiat money, most cryptocurrencies have a limited supply, capped by mathematical algorithms.This makes it impossible for any political body or government agency to dilute their value through inflation. Moreover, due to the cryptographic nature of cryptocurrencies, it is impossible for a government body to tax or confiscate tokens without the cooperation of the owner.

Bitcoin has grabbed the attention of the world over the last decade, as it could represent a new form of decentralized money. The ability to have a trustless payment system without a third party intermediary has many people betting on its future being bright.Bitcoin is the fastest growing crypto currency in the world. This makes Bitcoin an important cryptocurrency and a good investment option for you to make for the market.


### Inflation

Inflation occurs when the supply of money increases relative to the level of productive output in the economy. Prices tend to rise because more dollars are chasing relatively fewer goods. Another way of stating this phenomenon is that the purchasing power of each money unit declines.

This means that inflation can have a huge impact on the way we save and invest our money: it can either reduce the value of your investment portfolio over time, or you could possibly use it to your advantage to help your investments grow.

# **IMPORTING PACKAGES**

In [59]:
# packages to install before running notebook
#!pip install -q yfinance
#!pip install pandas-datareader
#!pip install yahoo-finance

In [60]:
# for data access and mannipulation
import requests
import pandas as pd
import numpy as np

# visualizations
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
# saving my model
import pickle

#ignoring warnings
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

#sns.set_style('whitegrid')
#plt.style.use("fivethirtyeight")
#%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from yahoo_finance import Share
from yahoo_finance import Currency
from pandas_datareader import data as pdr
yf.pdr_override()

# For time stamps
from datetime import datetime

# LOADING DATA

Data is extracted from different sources. Yahoo Finance is a rich resource of financial market data and tools to find compelling investments.We use Yahoo Finance API for Microsoft and Amazon Data, and Alpha Vantage API for bitcoin data and inflation data.

### MICROSOFT AND AMAZON DATA

We start from 2029 before the pandemic to see how the market was performing and how the pandemic shaped that moving forward. This will help in decision making to see how sensitive these are/were to the pandemic.

In [67]:
# we specify our start and end date
end = datetime.now()
start = datetime(2019, 1, 1)

In [68]:
#Amazon data
amazon_df = yf.download('AMZN', start, end)
amazon_df = amazon_df.reset_index(drop = False)
amazon_df['company_name'] = ['AMAZON' for i in range(len(amazon_df))]

#Microsoft data
msft_df = yf.download('MSFT', start, end)
msft_df = msft_df.reset_index(drop = False)
msft_df['company_name'] = ['MSFT' for i in range(len(amazon_df))]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [69]:
#How the data looks
msft_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,company_name
0,2019-01-02,99.550003,101.750000,98.940002,101.120003,96.632645,35329300,MSFT
1,2019-01-03,100.099998,100.190002,97.199997,97.400002,93.077736,42579100,MSFT
2,2019-01-04,99.720001,102.510002,98.930000,101.930000,97.406715,44060600,MSFT
3,2019-01-07,101.639999,103.269997,100.980003,102.059998,97.530945,35656100,MSFT
4,2019-01-08,103.040001,103.970001,101.709999,102.800003,98.238106,31514400,MSFT

### BITCOIN

In [49]:
# Api, using api ke
url = 'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_MONTHLY&symbol=BTC&market=ZAR&apikey=4TQR4OP76PGIASRO'
r = requests.get(url)
data = r.json()

# convert data to pandas df
bit_df = pd.DataFrame.from_dict(data['Time Series (Digital Currency Monthly)'], orient="index")

In [50]:
bit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, 2023-05-09 to 2020-09-30
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   1a. open (ZAR)       33 non-null     object
 1   1b. open (USD)       33 non-null     object
 2   2a. high (ZAR)       33 non-null     object
 3   2b. high (USD)       33 non-null     object
 4   3a. low (ZAR)        33 non-null     object
 5   3b. low (USD)        33 non-null     object
 6   4a. close (ZAR)      33 non-null     object
 7   4b. close (USD)      33 non-null     object
 8   5. volume            33 non-null     object
 9   6. market cap (USD)  33 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

### INFLATION

In [56]:
# inflation
url = 'https://www.alphavantage.co/query?function=INFLATION&apikey=4TQR4OP76PGIASRO'
r = requests.get(url)
data = r.json()
#print(data)
#pd.DataFrame.from_dict(data['name'], orient="index")
inflation_df = pd.DataFrame(data['data'])

In [57]:
inflation_df.head()

         date             value
0  2021-01-01  4.69785886363739
1  2020-01-01  1.23358439630637
2  2019-01-01  1.81221007526015
3  2018-01-01  2.44258329692818
4  2017-01-01  2.13011000365963

# Descriptive Statistics about the Data
Descriptive statistics include those that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution, excluding `NaN` values. This should provide high level statistics about our data.

In [52]:
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1096 entries, 2019-01-02 to 2023-05-09
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1096 non-null   float64
 1   High          1096 non-null   float64
 2   Low           1096 non-null   float64
 3   Close         1096 non-null   float64
 4   Adj Close     1096 non-null   float64
 5   Volume        1096 non-null   int64
 6   company_name  1096 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 68.5+ KB

Reviewing the content of our data, we can see that the data is numeric(except for the date and company name), aggregated daily and the date is the index of the data. Notice also that weekends and holiday are missing from the records.

# Exploratory Data Analysis (EDA)

This include methods like:

- Maximize our natural pattern-recognition abilities to extract insights.
- Uncover underlying structure (e.g skewness).
- Extract important variables and find interesting relations among the variables.
- Detect Anomalies.